body {
    font-family: 'Roboto', sans-serif;
}
.navbar-default {
    background-color: white;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e8ed;
    color: rgba(3,27,78,.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar-brand img {
    object-fit: contain;
    height: 30px;
}
.header-top .navbar-default a {
    color: #5b6987;
    text-decoration: none;
}
.header-top .navbar-default a:hover {
    color: #0069ff;
}

.header-bottom .navbar-default li a {
    color: #031b4e;

}
.header-bottom .navbar-default li a:hover {
    color: #0069ff;
}
.navbar-right input {
    background-color: transparent;
    border: 1px solid #0069ff;
    border-radius: 5px;
    color: #0069ff;
    cursor: pointer;
    font-size: 14px;

}
.navbar-right input:hover {
    background-color: #0069ff;
    color: #fff;
    border-color: #0069ff;
}

.label-info {
    font-size: 9px;
    background-color: #00d7d2;
    border-radius: 5px;
    color: #031b4e;
    cursor: default;
    margin-right: 10px;
}
#jumbotron {
    background-image: url("img/bg-home.jpg");
    color: white;
    padding-bottom: 50px;
    /**margin-top: 80px;**/
}
h1 {
    font-size: 46px;
    font-weight: bolder;
}
#jumbo-content {
    position: relative;
    height: 60vh;
}
.alert-info {
    margin-top: 150px;
    background-color: #00b47b;
    border: 1px solid #009969;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.jumbo-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#jumbo-content p {
    font-size: 24px;
    opacity: 0.8;
}
#signup-box {
    background-color: white;
    padding: 30px;
    border: 1px solid rgba(3,27,78,.1);
    border-radius: 5px;
}
#signup-box h2 {
    font-weight: bolder;
}
.form-control {
    height: 48px;
    padding: 0 16px;
    border: 1px solid #f1f1f1;
    background: #fff;
    color: rgba(3,27,78,.7);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}
.btn-block {
    height: 48px;
    background-color: #0069ff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-block:hover {
    background-color: #1633ff;
    border: none;
    color: #fff;
}
.btn-primary {
    color: #031b4e;
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    width: 49%;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-primary:hover {
    background: #d5e4f7;
}
.separatore span {
    color: #5b6987;
}
.separatore {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.separatore::before,
.separatore::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    /**width: calc((100% - 60px) / 2);**/
    height: 1px;
    background-color: #5b6987;
}
.separatore::before {
    left: 0;
}
.separatore::after {
    right: 0;
}
.fa-github {
    color:rgba(3,27,78,.7);
}
.terms {
    font-size: 12px;
    color: rgba(3,27,78,.7);
}
.terms a {
    color: #0069ff;
    text-decoration: underline;
}
#business {
    background-color: #f3f5f9;
    padding: 50px 0;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    opacity:0.4;
    letter-spacing: .05em;
    margin-bottom: 20px;
}
.logo {
    display: inline-block;
}
.logo img {
  height: 80px;
  width: 100px;
  object-fit: contain;
}
#header-deploy {
    padding: 50px 0;
}
h2 {
    color: #031b4e;
    margin-bottom: 20px;
}
#header-deploy h2 {
    font-weight: bolder;
    font-size: 36px;
}
#header-deploy p {
    font-size: 20px;
    color: rgba(3,27,78,.7);
    font-weight:;
}
#deploy-content {
    padding-bottom: 50px;
}
#deploy-content h4 {
    color: #031b4e;
    font-weight: 400px;
    font-size: 18px;
}

#deploy-content p {
    font-size: 16px;
    color: rgba(3,27,78,.7);
    margin-bottom: 30px;
}
#list ul {
    border-left: 2px solid #ccc;
}
#list li{
    font-size: 16px;
    font-weight: bold;
    color: rgba(3,27,78,.7);
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
#list li:first-of-type {
    color:  #031b4e;
}
#designed-for {
    background-color: #f3f5f9;
    padding: 50px 0;;
}
#designed-for h2 {
    font-weight: bolder;
    font-size: 36px;
}
#designed-for p {
    font-size: 20px;
    color: rgba(3,27,78,.7);
    font-weight:;
    padding-bottom: 20px;
}
#designed-for #kubernetes-use {
    font-size: 12px;
    color: rgba(3,27,78,.7);
}
.fa-circle {
    color: #0069ff;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
}
#built-for {
    padding: 50px 0;
}
#built-for h2 {
    font-weight: bolder;
    font-size: 36px;
}
#built-for h4 {
    color: #031b4e;
    font-weight: 400px;
    font-size: 18px;
}
#built-for p {
    font-size: 16px;
    color: rgba(3,27,78,.7);
}
#built-for a {
    color: #0069ff;
    text-decoration: none;
}
#built-for a:hover {
    color: #005fe6;
}
#data-section {
    background-color: #031b4e;
    padding: 50px 0;
    background-image: url("img/data-center-map.svg");
    color: white;
}
#data-section h2 {
    color: white;
    font-weight: bolder;
    font-size: 36px;
}
#data-section .opacity {
    opacity: 0.6;
}
#data-section a {
    color: #00d7d2;
    font-size: 13px;
    text-decoration: none;
}
#data-section a:hover {
    color: #0069ff;
}

#dev-team {
    background-color: #f3f5f9;
    padding: 50px 0;
}
#dev-team h2 {
    font-weight: bolder;
    font-size: 36px;
}
#dev-team p {
    font-weight: 400;
    font-size: 24px;
    color: rgba(3,27,78,.7);
    font-weight:;
    padding-top: 20px;
    padding-bottom: 20px;
}
#dev-team a {
    color: #0069ff;
    text-decoration: underline;
}
#dev-team a:hover {
    color: #005fe6;
}
.rockerbox {
    background-color: white;
    padding: 32px;
}
blockquote {
    border-left: 0;
}
blockquote small {
    color: rgba(3,27,78,.7);
}
#read {
    margin-top: 30px;
}
#read a {
    text-decoration: none;
}
#read a:hover {
    color: #005fe6;
}
#get-started {
    background-image: url("img/bg-home.jpg");
    color: white;
    padding: 50px 0;
}
#get-started h2 {
    font-weight: bolder;
    font-size: 36px;
    color: white;
}
#get-started .btn-default {
    background-color: #fff;
    border: none;
    color: #0069ff;
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    padding: 0 62px;
    font-weight: bold;
}
#get-started .btn-default:hover {
    background-color: hsla(0,0%,100%,.8);
    color: #0069ff;
}
#getstarted-div {
    position: relative;
    padding-bottom: 50px;
}
#getstarted-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
#top, #bottom {
    background-color: #010e28;
    color: hsla(0,0%,100%,.5);
    font-size: 14px;
    padding: 50px 0;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}
#top h6 {
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.social-icons {
    color: hsla(0,0%,100%,.5);
    font-size: 23px;
    margin-left: 10px;
}
.social-icons:hover {
    color: white;
}
#top li:hover {
    color: white;
}
.do-icon {
    margin-right: 15px;
    cursor: pointer;
}
