body {
    font-family: 'Sen', sans-serif;
}
#jumbotron {
    background: #0069ff;
    color: white;
    padding: 50px 30px;
}

h1 {
    font-size: 46px;
    font-weight: bolder;
}
#jumbo-content p {
    font-size: 24px;
    opacity: 0.8;

}
#signup-box {
    background-color: white;
    padding: 30px;
    border: 1px solid rgba(3,27,78,.1);
    border-radius: 5px;

}
.form-control {
    height: 48px;
    padding: 0 16px;
    border: 1px solid #f1f1f1;
    background: #fff;
    color: rgba(3,27,78,.7);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}
.btn-block {
    height: 48px;
    background-color: #0069ff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-block:hover {
    background-color: #1633ff;
    border: none;
    color: #fff;
}
.btn-primary {
    color: #031b4e;
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    height: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-primary:hover {
    background: #d5e4f7;
}
.fa-github {
    color:rgba(3,27,78,.7);
}
#terms {
    font-size: 12px;
    color: rgba(3,27,78,.7);
}
#terms a {
    color: #0069ff;
    text-decoration: underline;
}
h2 {
    font-size: 30px;
    color: #031b4e;
    font-weight: bolder;
    margin-bottom: 20px;
}
#business {
    background-color: #f3f5f9;
    padding: 50px 30px;

}
h3 {
    font-size: 14px;
    font-weight: bold;
    opacity:0.4;
    letter-spacing: .05em;
    margin-bottom: 20px;
}
.logo {
    display: inline-block;
    
}
