body {
    font-family: 'Sen', sans-serif;
}
#jumbotron {
    background: #0069ff;
    color: white;
    padding: 50px 0;
}

h1 {
    font-size: 46px;
    font-weight: bolder;
}

#jumbo-content p {
    font-size: 24px;
    opacity: 0.8;
}
#signup-box {
    background-color: white;
    padding: 30px;
    border: 1px solid rgba(3,27,78,.1);
    border-radius: 5px;
}
.form-control {
    height: 48px;
    padding: 0 16px;
    border: 1px solid #f1f1f1;
    background: #fff;
    color: rgba(3,27,78,.7);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}
.btn-block {
    height: 48px;
    background-color: #0069ff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-block:hover {
    background-color: #1633ff;
    border: none;
    color: #fff;
}
.btn-primary {
    color: #031b4e;
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    height: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-primary:hover {
    background: #d5e4f7;
}
.separatore span {
    color: #5b6987;
}
.separatore {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.separatore::before,
.separatore::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    /**width: calc((100% - 60px) / 2);**/
    height: 1px;
    background-color: #5b6987;
}
.separatore::before {
    left: 0;
}
.separatore::after {
    right: 0;
}
.fa-github {
    color:rgba(3,27,78,.7);
}
#terms {
    font-size: 12px;
    color: rgba(3,27,78,.7);
}
#terms a {
    color: #0069ff;
    text-decoration: underline;
}

#business {
    background-color: #f3f5f9;
    padding: 50px 0;

}
h3 {
    font-size: 14px;
    font-weight: bold;
    opacity:0.4;
    letter-spacing: .05em;
    margin-bottom: 20px;
}
.logo {
    display: inline-block;
}
.logo img {
  height: 100px;
  object-fit: contain;
}
#header-deploy {
    padding: 50px 0;
}
h2 {
    color: #031b4e;
    margin-bottom: 20px;
}
#header-deploy h2 {
    font-weight: bolder;
    font-size: 36px;

}
#header-deploy p {
    font-size: 20px;
    color: rgba(3,27,78,.7);
    font-weight:;
}
#deploy-content {
    padding-bottom: 50px;
}
#deploy-content h4 {
        color: #031b4e;
        font-weight: 400px;
        font-size: 18px;

}
#deploy-content p {
    font-size: 16px;

}
#list ul {
    border-left: 2px solid #ccc;


}
#list li {

    font-size: 16px;
    font-weight: bold;
    color: rgba(3,27,78,.7);
    padding: 17px 10px 17px 30px;
    cursor: pointer;
    text-align: center;
}
#designed-for {
    background-color: #f3f5f9;
    padding: 50px 0;;
}
#designed-for h2 {
    font-weight: bolder;
    font-size: 36px;
}
#designed-for p {
    font-size: 20px;
    color: rgba(3,27,78,.7);
    font-weight:;
    padding-bottom: 20px;
}
.fa-circle {
    color: #0069ff;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
}

#built-for {
    padding: 50px 0;
}
#built-for h2 {
    font-weight: bolder;
    font-size: 36px;
}
#built-for h4 {

    color: #031b4e;
    font-weight: 400px;
    font-size: 18px;
}
#built-for p {
    font-size: 16px;
    color: rgba(3,27,78,.7);
}
#built-for a {
    color: #0069ff;
    text-decoration: none;
}
#built-for a:hover {
    color: #005fe6;
}
#data-section {
    background-color: #031b4e;
    padding: 50px 0;
}
#data-section h2 {
    color: white;
    font-weight: bolder;
    font-size: 36px;
}
#dev-team {
    background-color: #f3f5f9;
    padding: 50px 0;
}
#dev-team h2 {
    font-weight: bolder;
    font-size: 36px;
}
#dev-team p {
    color:
    font-weight: bolder;
    font-size: 36px;
    font-size: 20px;
    color: rgba(3,27,78,.7);
    font-weight:;
    padding-bottom: 20px;
}
#dev-team a {
    color: #0069ff;
    text-decoration: underline;
}
